.main {
  padding: 2rem 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  padding: 40px 0 0 0;
  flex: 1;
  overflow-y: auto;
  background-color: blanchedalmond;
}

.description {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  text-align: center;
  margin: 0 0 20px 0;
  width: 100%;
  font-family: var(--font-mono);
}

.createTitle {
  text-align: center;
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

.footer {
  border: 1px solid black;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.createColumn {
  align-items: center;
}

.herdColumn {
  align-items: center;
  margin: 0 20px;
}

.herdOwner {
  padding: 10px 20px;
  background-color: floralwhite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}